<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>Reset Password</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f4f4f9;
    }
    .container {
      background: #fff;
      padding: 50px;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      width: 300px;
    }
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    button {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    button:hover {
      background-color: #0056b3;
    }
    .error {
      color: red;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Reset Password</h2>
    <form id="resetPasswordForm">
      <input type="hidden" name="token" value="<%= token %>" />
      <label for="password">New Password:</label>
      <input type="password" name="password" required />
      <button type="submit">Reset Password</button>
      <div class="error" id="errorMessage"></div>
    </form>
  </div>

  <script>
    document.getElementById("resetPasswordForm").addEventListener("submit", async (e) => {
      e.preventDefault();

      const formData = new FormData(e.target);
      const token = formData.get("token");
      const password = formData.get("password");

      try {
        const response = await axios.post("http://<%= PUBLIC_IP %>/password/reset-password",
          {
            reqId: token,
            password : password
          });

       

        if (response.status === 200) {
          alert(response.data.message);
          window.location.href = "<%= HOME_PAGE_URL %>"; // Redirect to login page after success
        } else { 
          document.getElementById("errorMessage").textContent = response.data.message || "Failed to reset password.";
        }
      } catch (error) {
        document.getElementById("errorMessage").textContent = "Password reset link is expired Please try again with new link!";
      }
    });
  </script>
</body>
</html>